.sider{
    background-color: #f7f7f7!important;
    position: unset!important;
    padding: 30px 0;
    min-height: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 70%;
        height: auto;
    }
}